body{
    position: relative;
    width: 1440px;
    height: 900px;
    background: #141416;
}

.linha{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 122px;
    border: 2px solid #C8C8CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(0.16deg);
}

.linha2{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: -1px;
    top: 281px;
    border: 2px solid #C8C8CC;
}

.linha3{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 377px;
    border: 2px solid #C8C8CC;
    transform: rotate(0.16deg);
}

.linha4{
    position: absolute;
    width: 1900px;
    height: 0px;
    top: 100px;
    right: -735px;
    border: 2px solid #C8C8CC;
    transform: rotate(89.87deg);
}

.linha5{
    position: absolute;
width: 1900px;
height: 0px;
left: -740px;
top: 100px;

border: 2px solid #C8C8CC;
transform: rotate(89.87deg);
}

.icons{
    position: absolute;
    width: 196px;
    height: 35px;
    left: 1086px;
    top: 87px;
}

.menu{
    position: absolute;
    width: 491px;
    height: 30px;
    left: 214px;
    top: 94px;
}

.logo{
    position: absolute;
    width: 366px;
    height: 128px;
    left: 519px;
    top: 139px;
}

.opcoes{
    position: absolute;
    width: 467px;
    height: 52px;
    left: 500px;
    top: 303px;
}

.grade1{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 224px;
    top: 412px;
    border: 3px dashed #C8C8CC;
}

.burguer1{
    position: absolute;
    width: 161px;
    height: 119px;
    left: 253px;
    top: 435px;
}

.description{
    position: absolute;
    width: 156px;
    height: 58px;
    left: 252px;
    top: 588px;
}

.name{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 234px;
    top: 658px;
}

.grade2{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 481px;
    top: 412px;
    border: 3px dashed #C8C8CC;
}

.burguer2{
    position: absolute;
    width: 216.77px;
    height: 119px;
    left: 492px;
    top: 435px;
}

.description2{
    position: absolute;
    width: 178px;
    height: 59px;
    left: 511px;
    top: 589px;
}

.name2{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 500px;
    top: 658px;
}

.grade3{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 738px;
    top: 412px;
    border: 3px dashed #C8C8CC;
}

.burguer3{
    position: absolute;
    width: 161px;
    height: 161px;
    left: 766px;
    top: 410px;
}

.description3{
    position: absolute;
    width: 230px;
    height: 59px;
    left: 740px;
    top: 589px;
}

.name3{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 752px;
    top: 658px;
}

.grade4{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 994px;
    top: 412px;
    border: 3px dashed #C8C8CC;
}

.burguer4{
    position: absolute;
    width: 191px;
    height: 154px;
    left: 1012px;
    top: 409px;
}

.description4{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 997px;
    top: 592px;
}

.name4{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 1011px;
    top: 658px;
}

.grade5{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 220px;
    top: 740px;
    border: 2px dashed #C8C8CC;
}

.burguer5{
    position: absolute;
    width: 172px;
    height: 115px;
    left: 242px;
    top: 763px;
}

.grade6{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 474px;
    top: 741px;
    border: 2px dashed #C8C8CC;
}

.burguer6{
    position: absolute;
    width: 160px;
    height: 116px;
    left: 511px;
    top: 757px;
}

.grade7{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 732px;
    top: 740px;
    border: 2px dashed #C8C8CC;
}

.burguer7{
    position: absolute;
    width: 200px;
    height: 155px;
    left: 744px;
    top: 743px;
}

.grade8{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 160px;
    left: 997px;
    top: 741px;
    border: 2px dashed #C8C8CC;
}

.burguer8{
    position: absolute;
    width: 184px;
    height: 101px;
    left: 1016px;
    top: 764px;
}